@font-face {
  font-family: 'SignPainter';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/SignPainterHouseScript.woff') format('woff');
}

@font-face {
  font-family: 'RageUI';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/RageUIText.otf') format('opentype');
}

:root {
  --titleColor: white;
  --sliderColor: #042039;
  --sliderProgressColor: #3974c8;
}

.rageui {
  position: fixed;
  top: 0;
  left: 0;

  font-family: 'RageUI', sans-serif;
  color: white;
  z-index: 99999;

  margin: 2vh;
  width: 40vh;

  user-select: none;

  .rageui-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;

    background: url('assets/ActionMenu/header.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SignPainter';
    font-weight: normal;
    font-size: 5.7vh;

    .rageui-header-title {
      max-width: 90%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .rageui-subheader {
    position: relative;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 3.5vh;
    background: black;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.8vh;

    .rageui-subheader-title {
      position: absolute;
      left: 1vh;
      color: var(--titleColor, #2c73c5);
    }

    .rageui-subheader-count {
      position: absolute;
      right: 1vh;
      color: var(--titleColor, #2c73c5);
      letter-spacing: -0.2vh;
    }
  }

  .rageui-items {
    --maxItems: 10;
    position: relative;
    top: 0vh;
    left: 0;
    width: 100%;
    background-image: url('assets/ActionMenu/icons/commonmenu/gradient_bgd.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: calc(var(--maxItems) * 4vh + 3.5vh);
    overflow-y: auto;
    outline: none;
    border: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }

    .rageui-item {
      --animDelay: 0.1s;
      --index: 0;
      position: relative;
      width: 100%;
      height: 4vh;
      font-size: 1.8vh;
      text-indent: 1vh;
      display: flex;
      align-items: center;
      font-weight: 500;
      animation: slideIn 0.5s ease-in-out forwards;
      animation-delay: calc(var(--animDelay) * var(--index));
      transform: translate(-100%);

      &.disabled {
        color: #a0a0a0;
      }

      &.active {
        background-image: url('assets/ActionMenu/icons/commonmenu/gradient_nav.png');
        background-size: cover;
        background-repeat: no-repeat;

        &:not(.disabled) {
          color: black;
        }

        .icon-left,
        .icon-right {
          img {
            filter: invert(1);
          }
        }

        .rageui-item-badge {
          img {
            filter: invert(1);
          }
        }

        .rageui-checkbox {
          img {
            filter: invert(1);
          }
        }

        .rageui-item-disabled {
          img {
            filter: invert(1);
          }
        }
      }

      &:has(.rageui-item-rightlabel) {
        .rageui-item-label {
          max-width: 50%;
        }

        .rageui-item-rightlabel {
          max-width: 50%;
        }
      }

      .rageui-item-label {
        max-width: 100%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .rageui-item-rightlabel {
        position: absolute;
        right: 1vh;
        font-size: 1.8vh;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .rageui-item-badge {
        position: absolute;
        right: 1vh;
        width: 4vh;
        height: 4vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .rageui-checkbox {
        position: absolute;
        right: 1vh;
        width: 4vh;
        height: 4vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .rageui-item-disabled {
        position: absolute;
        right: 1vh;
        width: 4vh;
        height: 4vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &.rageui-item-placeholder {
        justify-content: center;
      }

      &.rageui-item-slider {
        .rageui-item-slider-container {
          position: absolute;
          right: 2vh;
          width: 15vh;
          height: 0.8vh;
          background: var(--sliderColor);
          display: flex;
          align-items: center;

          .icon-left {
            position: absolute;
            left: -3.2vh;
          }

          .rageui-item-slider {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            background: var(--sliderProgressColor);
            display: flex;
            align-items: center;

            &.indicator::before {
              content: '';
              position: absolute;
              right: 0;
              width: 0.3vh;
              height: 1.3vh;
              background: white;
            }
          }
        }
      }

      &.rageui-item-select {
        .rageui-item-select-container {
          position: absolute;
          right: 2vh;
          display: flex;
          align-items: center;
        }
      }

      &.active {
        .rageui-item-slider-container {
          background: rgba(0, 0, 0, 0.8);
        }
      }

      &.active {
        .icon-left,
        .icon-right {
          display: block;
        }
      }
    }

    .icon-left {
      position: absolute;
      left: -2vh;
    }

    .icon-right {
      position: absolute;
      right: -1vh;
    }

    .icon-left,
    .icon-right {
      top: 40%;
      transform: translateY(-50%);
      width: 2.5vh;
      height: 2.5vh;
      display: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .rageui-scroll {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .rageui-scroll-img {
      position: relative;
      width: 4vh;
      height: 4vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .rageui-item-description {
    position: relative;
    top: 0.2vh;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 4vh;
    text-indent: 1vh;
    font-size: 1.8vh;
    display: flex;
    align-items: center;

    span {
      position: relative;
      width: 90%;
    }
  }

  .rageui-heritage-container {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;

    .rageui-heritage-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .rageui-heritage {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .rageui-heritage-mother,
      .rageui-heritage-father {
        position: relative;
        width: 20vh;
        height: 20vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .rageui-grid-container {
    position: relative;
    top: 0.5vh;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .rageui-grid-img {
      position: absolute;
      width: 14vh;
      height: 14vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .rageui-grid-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .rageui-grid-circle-inner {
        --margin: 0.7vh;

        position: absolute;
        top: var(--margin);
        left: var(--margin);
        width: calc(100% - var(--margin) * 2);
        height: calc(100% - var(--margin) * 2);

        .rageui-grid-circle-img {
          --x: 0;
          --y: 0;
          position: absolute;
          top: calc(var(--y) * 1%);
          left: calc(var(--x) * 1%);
          transform: translate(-50%, -50%);
          z-index: 9999;

          img {
            position: absolute;
            width: 1.5vh;
            height: 1.5vh;
            object-fit: cover;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .rageui-grid-texts {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 1.7vh;

      .up {
        position: absolute;
        top: -3.2vh;
      }

      .down {
        position: absolute;
        bottom: -3.2vh;
      }

      .left {
        position: absolute;
        left: -6.2vh;
      }

      .right {
        position: absolute;
        right: -6.2vh;
      }
    }
  }

  .rageui-color-panel {
    --maxItems: 8;
    --itemSize: 4vh;
    --padding: calc((100% - var(--itemSize) * var(--maxItems)) / 2);

    position: relative;
    top: 0.5vh;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 11vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .rageui-color-panel-header {
      position: relative;
      margin-top: 1vh;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1vh;
      padding: 0 var(--padding);
    }

    .rageui-color-container {
      --currentItem: 1;

      position: relative;
      max-width: calc(100% - var(--padding) * 2);
      width: 100%;
      height: var(--itemSize);
      padding: 0 var(--padding);
      overflow: hidden;

      .rageui-colors {
        position: absolute;
        left: 0;
        width: calc(100% - var(--padding));
        height: 100%;
        display: flex;

        .rageui-color {
          --borderSize: 0.5vh;
          position: relative;
          width: var(--itemSize);
          height: var(--itemSize);
          flex-shrink: 0;

          &.active {
            border-top: 7px solid white;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
